<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="ion-text-center">
        Parser
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<!-- Button-list -->
<ion-content forceOverscroll="false">
    <ion-item>
      <ion-label>
        Variables and quantities
      </ion-label>
    </ion-item>
    
    <ion-item *ngFor="let line of result" text-wrap lines="none">
      <ion-label text-wrap>
        {{ line }}
      </ion-label>
    </ion-item>
  <!-- Buttons -->
  <!-- Yes -->
  <ion-button expand="full" color="primary" *ngIf="result" (click)="submit()">
    Yes - process
  </ion-button>
  <!-- No -->
  <ion-button expand="full" color="primary" *ngIf="result">
    No - pick a new file
  </ion-button>
</ion-content>